{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parallaxes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Structure</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parallax in parallaxes %}
            <tr>
                <td><a href="{{ path('parallax_show', { 'id': parallax.id }) }}">{{ parallax.id }}</a></td>
                <td>{{ parallax.structure }}</td>
                <td>{% if parallax.updatedAt %}{{ parallax.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('parallax_show', { 'id': parallax.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('parallax_edit', { 'id': parallax.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parallax_new') }}">Create a new parallax</a>
        </li>
    </ul>
{% endblock %}
